//les variables
$couleurFond: aqua;
$couleurText: rgb(7, 101, 7);
$fontTitre: "impact";
$fontText: "arial";
$randomeColor: rgb(random(255), random(255), random(255));
$largeur: 1440;
$mobile: 600;

//fonctions
@function add($a, $b) {
    $resultat: $a + $b;
    @return $resultat;
}

//mixins
@mixin flexMid {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

$ordi: 1000px;
$tablette: 800px;
$mobile: 600px;

@mixin responsive($screen) {

    @if $screen ==$mobile {
        @media screen and (max-width: 600px) {
            @content;
        }
    }

    @else if $screen ==$tablette {
        @media screen and (max-width:800px) {
            @content;
        }
    }

    @else if $screen ==$ordi {
        @media screen and (max-width:1000px) {
            @content;
        }
    }

    @else {
        @error "L'argument $appareil ne peut valoir que mobile, phablette, tablette ou ordi.";
    }
}

// @mixin breakpoint($appareil){
//     @if $appareil == mobile{
//       @media screen and (max-width: 640px){
//         @content;
//       }
//     }
//     @else if $appareil == phablette{
//       @media screen and (min-width: 640px){
//         @content;
//       }
//     }
//     @else if $appareil == tablette{
//       @media screen and (min-width: 800px){
//         @content;
//       }
//     }
//     @else if $appareil == ordi{
//       @media screen and (min-width: 1024px){
//         @content;
//       }
//     }
//     @else{
//         @error "L'argument $appareil ne peut valoir que mobile, phablette, tablette ou ordi.";
//         //Cette directive affiche une erreur et bloque la conversion en CSS.
//         //Elle est utile pour vérifier si un argument a une valeur cohérente.
//     }
  

body {
    // background-color: $randomeColor;
    background-color: rgba(88, 83, 86, 1);
    margin: 0 round($largeur/100) + px;
    height: add(50vh, 50vh);
    // border: 1px solid black;
    contain: content;
    color: black;

}

h1 {
    color: $couleurText;
    background-color: $couleurFond;
    font-family: $fontTitre;

    justify-content: center;
    text-align: center;
}

.menu ul {
    list-style-type: none;

    li {
        font-family: $fontText;

        a {
            color: red;
            text-decoration: none;

            &:hover {
                color: blue;
            }
        }

        &:last-child {
            color: green;
        }
    }
}

.titre1 {
    font-size: 50px;
    font-weight: 50;
    font-family: $fontTitre;
}

.titre2 {
    @extend .titre1;
    letter-spacing: -5px;
    color: gold;
}

.boxP {
    @include flexMid;
    width: 300px;
    height: 300px;
    background: salmon;
}

.boxE {
    background: azure;
    width: 100px;
    height: 100px;
}

.bouton {
    padding-top: 25%;

    a {
        @include flexMid;
        text-decoration: none;
        color: rgb(0, 150, 196);
        background-color: gold;
        width: 80px;
        height: 50px;
        border-radius: 10px;
        box-shadow: 5px 5px 5px lightblue;
        transition: 0.5s;

        &:hover {
            background-color: rgb(182, 182, 182);
            transition: 0.5s;
            
        }
    }
}